---
import GenshinData from "genshin-data";

const data = new GenshinData({ language: "english" });
const characters = await data.characters();

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main class="grid place-items-center h-screen content-center">
      {
        characters.map((data) => (
          <li>
            <a href={`/character/${data.id}`}>{data.name}</a>
          </li>
        ))
      }
    </main>
  </body>
</html>
