---
// import json from `../../../../_data/gi/data_english.min.json`;

export async function getStaticPaths() {
  const locales = ["en", "fr", "es"];
  const localeToISOMap = {
    en: "english",
    fr: "french",
    es: "spanish",
  };

  const paths = [];
  for await (const locale of locales) {
    const data = await import(
      `../../../../_data/gi/data_${localeToISOMap[locale]}.min.json`
    );

    for await (const item of data["characters"]) {
      paths.push({
        params: {
          id: item.id,
          lang: locale,
        },
        props: { character: item },
      });
    }
  }

  return paths;
}

// const { id } = Astro.params;
const { character } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main class="grid place-items-center h-screen content-center">
      <h1 class="text-2xl font-bold">{character.name}</h1>
      <div
        class={character.rarity === 4 ? "text-purple-900" : "text-yellow-900"}
      >
        {character.element}
      </div>
    </main>
  </body>
</html>
